.task {
  background: #d6d6d64d;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.task::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #646cff;
  border-radius: 15px;
  pointer-events: none;
}

.taskHeader {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  overflow: hidden;
  background: #646cff;
  padding: 10px 0px;
  align-items: center;
}

.taskHeaderTitle {
  margin: 0;
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.taskHeaderChecker {
  background: white;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.taskHeaderChecker:hover {
  background: rgb(143, 192, 143);
  color: white;
}

.checked {
  background: white;
  color: rgb(143, 192, 143);
}

.checked:hover {
  background: rgb(143, 192, 143);
  color: white;
}

.taskBody {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskBodyDate {
  font-size: 0.6rem;
  align-self: flex-end;
  font-weight: 900;
  color: #646cff;
}

.taskBodyButton {
  display: flex;
  align-items: center;

  gap: 5px;
  padding: 10px;
  background-color: #929292a8;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 900;
  width: 100%;
}

.taskBodyButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #646cff;
  transition: left 0.3s ease-in-out;
  z-index: 0;
}

.taskBodyButton:hover::before {
  left: 0;
}

.taskBodyButton > * {
  position: relative;
  z-index: 1;
  transition: color 0.2s ease;
}

@media (max-width: 895px) {
  .task {
    height: 100%;
  }
  
}

@media (max-width: 450px) {
  .taskHeaderTitle {
    width: 140px;
  }
}